#services {
    background-color: #f7f7f7;
    
}

.services__container {
    grid-template-columns: repeat(3, 270px);
    column-gap: 1.8rem;
    justify-content: center;
}

.services__content {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    padding: 6rem 0 2rem 2.5rem;
}

.services__icon {
    display: block;
    font-size: 2rem;
    margin-bottom: var(--mb-1);
    color: var(--title-color);
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-2);
    font-weight: var(--font-medium);
}

.services__button {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    column-gap: 0.25rem;
    align-items: center;
    cursor: pointer;
}

.services__button-icon {
    font-size: 1rem;
    transition: 0.3s;

}

.services__button:hover .services__button-icon {
    transform: translateX(1rem);
}

.services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.services__modal-content{
    width: 370px;
    position: relative;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}
.services__modal-close{
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    top: 1.5rem;
    right: 1.5rem;
    color: black;
    cursor: pointer;
}
.services__modal-close:hover{
    background-color: red;
    color: white;
    padding: 1.2px 4px;
}
.services__modal-title,
.services__modal-description{
    text-align: center;
    margin-bottom: var(--mb-1);
}
.services__modal-services{
    row-gap: 1rem;
}
.services__modal-service{
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}

.services__modal-icon{
    color: var(--title-color);
    font-size: 1.1rem;
}


/* ACTIVE MODEL */
.active__modal{
    opacity: 1;
    visibility: visible;

}


/* MEDIA QUERIES */

/* for larger devices */
@media screen  and (max-width:992px){
    .services__container{
        grid-template-columns: repeat(3,218px);
    }
    
}
@media screen  and (max-width:768px){
    .services__container{
        grid-template-columns: repeat(2,1fr);
    }
    .services__content{
        padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    }
    
}
@media screen  and (max-width:576px){
    .services__container{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media screen  and (max-width:425px){
    .services__container{
        grid-template-columns: repeat(1,1fr);
    }
    .services__modal-content{
        padding: 2.5rem 0.5rem 1.25rem 1.0rem;
        width: 300px;
    }
    
}