#skills{
    height: 100vh;
    /* border-top: 0.1px solid #ccc; */
    background-color: #fff;
}
.skills__container{
    grid-template-columns: repeat(2, 350px);
    column-gap: 3.5rem;
    justify-content: center;
}
.skills__content{
    background-color: var(--container-color);
    border-radius: 1.25rem;
    padding: 2rem 4rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.skills__title{
    font-size: var(--normal-font-size);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}
.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
    
}
.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}
.skills__data{
    display: flex;
    column-gap: 0.5rem;

}
.skills .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
    margin-top: 4px;
}


/* MEDIA QUERIES */
@media screen and (max-width:992px){
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
    
}
@media screen and (max-width:375px){
    .skills__content{
        padding: 1rem;
        
    }
    .skills__name{
        font-size: medium;
    }
    
    
}