#home{
    background-color: #fff;
    height: 100vh;
}

.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.5rem;
    color: var(--title-color);
}

.home__social-icon:hover {
    color: blue;
}

.home__title {
    margin-bottom: var(mb-0-25);
    font-size: var(--big-font-size);

}

.home__hand {
    height: 35px;
    width: 35px;
    margin-left: 10px;
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 0.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);

}

.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-3);

}

.home__img {
    background: url(../../assets/pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
    box-shadow: inset 0 0 0 9px rgb(255, 255, 255/30%);
    justify-self: center;
    animation: profile__animate 8s ease-in-out infinite 1s;
    filter: grayscale(100%);
    
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 70%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }


}

/* MEDIA QUERIES */


/* for large devices */
@media screen and (max-width:992px) {
    .home__content{
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.2rem;
    }
    .home__hand{
        width: 26px;
        height: 26px;
    }
    .home__subtitle{
        margin-bottom: var(--mb-1);
    }
    .home__description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }
    .home__img{
        height: 250px;
        width: 250px;
    }
    
}

/* for medium devies */
@media screen and (max-width:666px){
    .home__content{
        grid-template-columns: 0.5fr 3fr;
        /* grid-template-columns: 80px repeat(3,2fr); */
        padding-top: 3.5rem;
        /* background-color: red; */
    }
    .home__img{
        order: initial;
        justify-self: initial;
        height: 200px;
        width: 200px;
        margin-top: -900px;
        margin-left: 50px;
    }
    .home__data{
        grid-column: 1/3;
    }
    

}


/* for small devices */
@media screen and (max-width:350px) {
    .home__img{
        width: 180px;
        height: 180px;
    }
    .home__hand{
        width: 22px;
        height: 22px;
    }

    
}
